name: CI

on:
  pull_request:
  push:

jobs:
  prettier:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          ref: ${{ github.head_ref }}

      #      - name: Prettify code
      #        uses: creyD/prettier_action@v3.1
      #        with:
      #          prettier_options: --write **/*.{tsx,md,ts}
      #        env:
      #          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/setup-node@v6
        with:
          node-version: "24"
          check-latest: true

      - run: npm install
      - run: npm run build
      - run: npm run test
      - run: npx eslint .
      - run: npm run stylelint
